/* Importing typography from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titan+One&display=swap');


html {
    font-size: 2vw; 
}

/* Page body - for background design/pattern and main content box */
body {
    background-image: radial-gradient(circle at center center, #000000 30%, #ffffff 30%); 
    background-size: 5px 5px;
    display: grid;
    grid-template-areas: 
    'header footer'
    'section section'
    'section section'
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vw;

    border-style: solid;
    border-color: #000;
    margin: 50px 85px 50px 50px;
    box-shadow: 30px 30px #0db1f0, 35px 35px #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}



h1 {
    font-size: 1.5em; 
    font-family: 'Titan One', cursive; 

}


header {
    display: block;
    grid-column: 1 / 2;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
}



section {
    display: block;
    grid-column: 1 / 2;
    border-style: solid;
    border-color: #000;
}

aside {
    display: block;
    grid-column: 2 / 4;
    border-style: solid;
    border-color: #000;
}

footer {
    display: block;
    grid-column: 2 / 4;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
}

/* For smaller devices, layout should collapse into 1 column grid/list */
@media (max-width: 1000px) {
    header,
    section,
    aside,
    footer {
        grid-column: 1 / 4;
        grid-template-areas: 
        'header'
        'section'
        'section'
        'section'
        'section'
        'footer'
    }
}

   

/* Each cell within the grid */
.grid-cell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;    
    /* justify-items: center; */

} 

/* Each cell within the grid has its own background color */
.cell-1 {

    background-color: #fff;
}

.cell-2 {

    background-color: #0cb2c0;  
}

.cell-3 {

    background-color: #fad141;
}

.cell-4 {

    background-color: #5e72d4;
}

.cell-5 {

    background-color: #f725a0;
}

.cell-6 {

    background-color: #fff;
}

/* Each cell has a container inside, flexbox - I'm experimenting with this */
/* .container {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
    width: 100%;
} */