/* Importing typography from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titan+One&display=swap');

/* Viewport meta tag - improves layout on mobile devices */ 
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
    font-size: 2vw; 
}

/* Page body - for background design/pattern and main content box */
body {
    background-image: radial-gradient(circle at center center, #000000 30%, #ffffff 30%); 
    background-size: 5px 5px;
    margin: 50px 85px 85px 50px;   
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Font for section titles */
/* h1 will be used for "menu links" */
h1 {
    font-size: 1.5em; 
    font-family: 'Titan One', cursive; 
}

h1:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

/* h2 will be used for titles in body text */
h2 {
    font-size: 1.5em; 
    font-family: 'Titan One', cursive; 
}

/* Footer icons for Github, FCC, and Codewars */
.responsive-image {
    max-width: 10%;
    height: auto;
}

/* Main container - holds the whole grid */
/* On screens >1000px, grid appears with 2 columns and 3 rows
On screens <1000px - grid appears as 1 column and 6 rows */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vw;
    border-style: solid;
    border-color: #000;
    box-shadow: 30px 30px #0db1f0, 35px 35px #000;
}

/* Applies to overall styling of all cells in the grid */
.grid-cell {
    padding: 2em;    
} 

/* Header - top left white cell */
header {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    text-align: left;
}

/* Typing animated effect for header text upon page load */
.typeout h3 {
    display: inline-block; /* keeps text line within cell, inherits padding + text-align*/
    width: auto; /* the text will type out this far - auto so it adjusts to length of text vs cell width */
    color: #000; /* text color */
    overflow: hidden; /* hides text until it "types out" */
    border-right: .1em solid #0db1f0; /* blue cursor */
    white-space: nowrap; /* text stays on one line vs two as it types out */
    margin: auto; /* keeps typed line vertical-centered */
    animation: 
      type 3.5s steps(30, end), /* controls length of time for line to type out and "framerate" of animation */
      cursor-blink .53s step-end infinite; /* how fast the cursor blinks, where it stops, and how long it keeps blinking */
  }
  
  @keyframes type {
    from { max-width: 0 } /* type effect starts */
    to { max-width: 100% } /* type effect lasts through the end of typed line */
  }
  
  @keyframes cursor-blink {
    from, to { border-color: transparent } /* creates blinking effect - when cursor is "off" */
    50% { border-color: #0db1f0} /* adds to blinking effect - when cursor is halway "on" */
  }


/* Teal and purple cells - appear in left column */
section {
    display: block;
    grid-column: 1 / 2;
    border-style: solid;
    border-color: #000;
    text-align: center;
}

.cell-2 {
    background-color: #0cb2c0;  
}

.cell-4 {
    background-color: #5e72d4;
}

/* Yellow and pink cells - appear in right column*/
aside {
    display: block;
    grid-column: 2 / 4;
    border-style: solid;
    border-color: #000;
    text-align: center;
}

.cell-3 {
    background-color: #fad141;
}

.cell-5 {
    background-color: #f725a0;
}

/* Footer - top right white cell on screens > 1000px */
footer {
    display: block;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    text-align: right;
}

/* For screens <1000px, layout collapses into 1 column grid/list with footer at bottom */
@media (max-width: 1000px) {
    header,
    section,
    aside,
    footer {
    grid-column: 1 / 4;
    }

    header, 
    footer {
        text-align: center;
    }

    footer {
        grid-row: 6 / 6;
    }
}


/****************** OVERLAYS STYLING ******************/

/* X button to close overlays */
#x {
    position: absolute;
    color: #000;
    top: 25px;
    right: 25px;
    border: none;
    background: none;
    padding: 0;
    font-size: 1.25em; 
    font-family: 'Titan One', cursive;
    transform-origin: center;
    transition: transform 1s; 
}

#x:hover {
    color: #fff;
    transform: rotate(360deg);
}

#x:focus {
    outline: none;
}

/* Onclick - opaque teal overlay for "who i am" container */
.tealoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0cb2c0;
    transition: width 0.5s ease-out;
    overflow-x: hidden;
}

.tealoverlay .container {
    width: 500ps;
    display: block;
}

/* Onclick - opaque yellow overlay for "why i'm applying" container */
.yellowoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fad141;
    transition: width 1s ease-out;
    overflow-x: hidden;
}

.yellowoverlay .container {
    width: 500ps;
    display: block;
}

/* Onclick - opaque purple overlay for "here is my work" container */
.purpleoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #5e72d4;
    transition: width 1s ease-out;
    overflow-x: hidden;
}

.purpleoverlay .container {
    width: 500ps;
    display: block;
}

/* Onclick - opaque pink overlay for "what i want to do" container */
.pinkoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f725a0;
    transition: width 1s ease-out;
    overflow-x: hidden;
}

.pinkoverlay .container {
    width: 500ps;
    display: block;
}

/*  - this must stay beneath the overlay styling above for overlays to work as intended */
.show {
    width: 100%;
    transition: width 0.5s ease-in;
}

/* OVERLAY TEXT CONTENT STYLING */

.overlaycontent {
    padding: 2rem;
    display: block;
    text-align: left;
}
