/* Importing typography from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titan+One&display=swap');

/* To be used for body text */
/* font-family: 'Open Sans', sans-serif; */

/* Page body - for background design/pattern and main content box */
body {
    background-image: radial-gradient(circle at center center, #000000 30%, #ffffff 30%); 
    background-size: 5px 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vw 20vw 20vw;
    border-style: solid;
    border-color: #000;
    margin: 50px 85px 50px 50px;
    box-shadow: 30px 30px #0db1f0, 35px 35px #000;
}

header {
    display: flex;
    grid-column: 1 / span 4;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
}



section {
    display: flex;
    grid-column: 1 / span 2;
    border-style: solid;
    border-color: #000;
}

aside {
    display: flex;
    grid-column: span 2;
    border-style: solid;
    border-color: #000;
}

@media (max-width: 700px) {
    header,
    section,
    aside {
        grid-column: 1 / span 4;
    }
}

   

/* Each cell within the grid */
.grid-cell {
    display: flex;
    padding: 4rem;
    font-size: 3rem; 
    text-align: center;
    font-family: 'Titan One', cursive; 


} 

/* Each cell within the grid has its own background color */
.cell-1 {

    background-color: #fff;
}

.cell-3 {

    background-color: #0cb2c0;  
}

.cell-4 {

    background-color: #fad141;
}

.cell-5 {

    background-color: #5e72d4;
}

.cell-6 {

    background-color: #f725a0;
}

/* Each cell has a container inside, flexbox - I'm experimenting with this */
/* .container {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
    width: 100%;
} */