body {
    background-image: radial-gradient(circle at center center, #000000 30%, #ffffff 30%); 
    background-size: 5px 5px;
}

h1 {
    color: navy;
    margin-left: 30px;
}

.grid-container {
    display: grid;
    background-color: #fff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    /* gap: 5px; */
    /* padding: 5px; */
    /* width: 100vw;
    height: 100vh; */
    border-style: solid;
    border-color: #000;
    margin: 50px;
}

.grid-cell {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
    border-style: solid;
    border-color: #000;
}

.cell-1 {
    background-color: #fff;
}

.cell-2 {
    background-color: #fff;
}

.cell-3 {
    background-color: pink;
}

.cell-4 {
    background-color: lightskyblue;
}

.cell-5 {
    background-color: yellow;
}

.cell-6 {
    background-color: yellowgreen;
}