/* Importing typography from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titan+One&display=swap');

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
    font-size: 2vw; 
}

/* Page body - for background design/pattern and main content box */
body {
    background-image: radial-gradient(circle at center center, #000000 30%, #ffffff 30%); 
    background-size: 5px 5px;
    margin: 50px 85px 85px 50px;   
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 1.5em; 
    font-family: 'Titan One', cursive; 
}

.responsive-image {
    max-width: 10%;
    height: auto;

}

/* Main container - holds the whole grid */
/* On screens >1000px, grid appears with 2 columns and 3 rows
On screens <1000px - grid appears as 1 column and 6 rows */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vw;
    border-style: solid;
    border-color: #000;
    box-shadow: 30px 30px #0db1f0, 35px 35px #000;
}

/* Applies to overall styling of all cells in the grid */
.grid-cell {
    padding: 2em;    

} 

/* Header - top left white cell */
header {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    text-align: left;
}

/* Teal and purple cells - appear in left column */
section {
    display: block;
    grid-column: 1 / 2;
    border-style: solid;
    border-color: #000;
    text-align: center;
}

.cell-2 {
    background-color: #0cb2c0;  
}

.cell-4 {
    background-color: #5e72d4;
}

/* Yellow and pink cells - appear in right column*/
aside {
    display: block;
    grid-column: 2 / 4;
    border-style: solid;
    border-color: #000;
    text-align: center;
}

.cell-3 {
    background-color: #fad141;
}


.cell-5 {
    background-color: #f725a0;
}

/* Footer - top right white cell on screens > 1000px */
footer {
    display: block;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    text-align: right;
}

/* For screens <1000px, layout collapses into 1 column grid/list with footer at bottom */
@media (max-width: 1000px) {
    header,
    section,
    aside,
    footer {
    grid-column: 1 / 4;
    }

    header, 
    footer {
        text-align: center;
    }

    footer {
        grid-row: 6 / 6;
    }
}

/****************** OVERLAYS STYLING ******************/

/* X button to close overlays */
#x {
    position: absolute;
    color: #000;
    top: 25px;
    right: 25px;
    border: none;
    background: none;
    padding: 0;
    font-size: 1.25em; 
    font-family: 'Titan One', cursive; 
}

#x:hover {
    color: #fff;
}

#x:focus {
    outline: none;
}

/* Onclick - opaque teal overlay for "who i am" content */
.tealoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0cb2c0;
    transition: width 0.5s ease-out;
    overflow-x: hidden;
}

.tealoverlay .content {
    width: 500ps;
    display: block;
}



/* Onclick - opaque yellow overlay for "why i'm applying" content */
.yellowoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fad141;
    transition: width 1s ease-out;
    overflow-x: hidden;
}

.yellowoverlay .content {
    width: 500ps;
    display: block;
}

/* Onclick - opaque purple overlay for "here is my work" content */
.purpleoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #5e72d4;
    transition: width 1s ease-out;
    overflow-x: hidden;
}

.purpleoverlay .content {
    width: 500ps;
    display: block;
}

/* Onclick - opaque pink overlay for "what i want to do" content */
.pinkoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f725a0;
    transition: width 1s ease-out;
    overflow-x: hidden;
}

.pinkoverlay .content {
    width: 500ps;
    display: block;
}

/*  - this must stay beneath the overlay styling above for overlays to work */

.show {
    width: 100%;
    transition: width 0.5s ease-in;
}




